<div id="container">
  <h1>Your List</h1>
  <i class="material-icons">perm_identity</i>
</div>
<ul class="collapsible" data-collapsible="accordion">
    <% categories.forEach((category) => {%>
    <li category="<%= category.dataValues.category %>" id="<%= category.dataValues.category %>">
      <div class="collapsible-header"><%= category.dataValues.category %></div>
      <div class="collapsible-body">
        <ul id="<%= category.dataValues.category %>_list" class="<%= category.dataValues.category %> newItemField" tether="<%= category.dataValues.category %>">
        </ul>
        <a class="btn-floating btn-small waves-effect waves-light <%= category.dataValues.category %>" id="<%= category.dataValues.category %>_button"><i class="material-icons" tether="<%= category.dataValues.category %>">add</i></a>
        <input type="text" class="newItem" id="<%= category.dataValues.category %>_input" placeholder="Add your item here!" />
        <form action="<%='/users/' + user.dataValues.id +'/' + category.dataValues.category %>" method="post" class="new">
  </button>
  <form  method="post" class="newItems">

     <button class="btn waves-effect waves-light" type="submit" name="action">Save
    <i class="material-icons right">send</i>
    </form>
</form>

      </div>
      <form action="<%='/users/' + user.dataValues.id +'/' + category.dataValues.category %>" method="PUT" >
  <input type="text" name="desc" placeholder="description">
  <input type="submit" name="" id="">
</form>
    </li>
    <% }) %>
</ul>
