
<body id="<%= %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="maincontent feedback">
            <h2 class="category-title">Currently Consuming</h2>
            <div class="inline-editable" id="text"> This is an item within a category</div>
        </div>
      </div><!-- primary -->
      <aside class="col sm4">
        <h2 class="feedback-form-title"> Add Items</h2>
          <form action="" class="addItems">
          <div class="input-field">
            <label for="item-form-name">Item</label>
            <input type="text" class="form-control" id="item-form-name" placeholder="Add Your Item">
          </div>
          <button type="submit" class="btn btn-default pull-right"> + </button>
        </form>

<div id="container">
  <h1>Your List</h1>
  <i class="material-icons">perm_identity</i>
</div>
<ul class="collapsible" data-collapsible="accordion">
    <% categories.forEach((category) => {%>
    <li category="<%= category.dataValues.category %>" id="<%= category.dataValues.category %>">
      <div class="collapsible-header"><%= category.dataValues.category %></div>
      <div class="collapsible-body">
        <ul id="<%= category.dataValues.category %>_list" class="<%= category.dataValues.category %> newItemField" tether="<%= category.dataValues.category %>">
        </ul>
        <input type="text" class="newItem" id="<%= category.dataValues.category %>_input" placeholder="Add your item here!"/>
        <a class="btn-floating btn-large waves-effect waves-light blue <%= category.dataValues.category %>" id="<%= category.dataValues.category %>_button"><i class="material-icons" tether="<%= category.dataValues.category %>">add</i></a>
      </div>
    </li>
    <% }) %>
</ul>
