<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/sass/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="login">
    <a href="<%='/auth/login' %>"><button class="login"> Login </button> </a>
    </div>
    <div class="register">
      <a href="<%='/register' %>"><button class="register"> Register </button></a>
    </div>

    <p> <%= slogan %></p>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/reload/reload.js"></script>
  </body>
</html>
