<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>  <%= title %> </title>
</head>
<body>
  <div><%= title %>
  <%= categories[0].dataValues.category %>
  <% if (items[0]) { %>
  <%= items[0].dataValues.name %>
  <% } %>

  <div class="profilepic">

  </div>

    <% include ../views/partials/categories.ejs %>
</body>

<form action="<%='/users/' + user.dataValues.id +'/' + categories[0].dataValues.category %>" method="post">
  <input type="text" name="item">
  <input type="text" name="item">
  <input type="text" name="item">
  <input type="submit">
</form>
</html>
