<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/sass/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>  <%= title %> </title>
</head>
<body>

  <div><%= title %>
  <%= categories[0].dataValues.category %>
  <% if (items[0]) { %>
  <%= items[0].dataValues.name %>
  <% } %>

  <div>
  <!--<%= title %>-->
  <!--<%= categories %>-->


  <div class="profilepic">

  </div>

    <% include ../views/partials/categories.ejs %>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
    function target(e) {
      let newItem = $("input").val();
      $("input").val("");
      $(".newItemField").append(`<li>${newItem}</li>`);
    }
    $("a").on("click", target);
    </script>
</body>

<form action="<%='/users/' + user.dataValues.id +'/' + categories[0].dataValues.category %>" method="post">
  <input type="text" name="item">
  <input type="text" name="item">
  <input type="text" name="item">
  <input type="submit">
</form>
</html>
