<html>
  <% include ../views/partials/head.ejs %>
<body>
<% include ../views/partials/header.ejs %>
  <div class="inline-editable" id="text">
    <%= categories[0].dataValues.category %>
    <% if (items[0]) { %>
    <%= items[0].dataValues.name %>
    <% } %>
  </div><!-- add for each loop -->
  <!-- add for each loop -->
  <!--<%= title %>-->
  <!--<%= categories %>-->


  <div class="profilepic">

  </div>

    <% include ../views/partials/categories.ejs %>

    <script>
    function target(e) {
      let newItem = $("input").val();
      $("input").val("");
      $(".newItemField").append(`<li>${newItem}</li>`);
    }
    $("a").on("click", target);
    </script>

    <form action="<%='/users/' + user.dataValues.id +'/' + categories[0].dataValues.category %>" method="post">
        <input type="text" name="item">
        <input type="text" name="item">
        <input type="text" name="item">
      <input type="submit"class="submit">
    </form>
    <% include ../views/partials/scripts.ejs %>
</body>

</html>
